doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/main.css')
    title MGPL div1 | Login panel admin
  body.d-flex.text-center.bg-secondary
    form.form-login
      img.mb-4(src=`/img/logo.png` alt='' height='72' width='72')
      h1.h3.mb-3.font-weight-normal Login panel-admin
      label.visually-hidden(for='email') Email address
      input#email.form-control.mb-2.ip-3(type='email' placeholder='Email address' required autofocus)
      label.visually-hidden(for='password') Password
      input#password.form-control.mb-2.ip-3(type='password' placeholder='Password' required)
      .checkbox.mb-3
        label
          input(type='checkbox' value='remember-me')
          |  Remember me
      button.btn.btn-lg.btn-primary.w-100(type='submit') Login

    script(src='/js/bundle.js')
