extends base

block content
  main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h1.h2 klik untuk start
    form(action="/panel-admin/start-now" method='post') 
      input.mx-3#dateStart(name='dateStart' type='datetime-local' required)
      button.btn.btn-primary(type='submit') Start
    .mt-3 
      a.btn.btn-danger(href='/panel-admin/deleteSchedule') delete schedule
