extends base

block content
  section#isi
    .container
      .row.justify-content-center.mt-4.text-center
        .col-md-6
          h2 ABOUT US 
          p MGPL adalah ajang liga semua game mobile

          a(href='#') Rules
          img.img-thumbnail.h2o(src="/img/logo.png", alt="")