extends base

block content
  section#isi
    .container
      .row.justify-content-center.mt-4.text-center
        .col-md-6
          h2 ABOUT US 
          p H2O League adalah ajang liga magic chess bang bang

          a(href='/img/rules.pdf') Rules
          img.img-thumbnail.h2o(src="/img/h2o.jpg", alt="")